*{
	padding:0px;
	margin:0px;
	font-style:italic;
	color:white;	
	font-size:16px;
	font-family:Verdana,Arial,Sans-serif;
	text-decoration:none;
}
a{
	font-weight:bold;
	color:#FF0000;
}
header nav a{
	font-size:1.5em;
	font-variant:small-caps;
    letter-spacing: 0.1em; 
	padding-left:1em;
}
a:hover{
	color:Gold;
}
h1,h2,h3,h4,h5,h6{
	font-variant:small-caps;
}
h1{
    height:2em;
	font-size:2.8em;
}
h2{
    height:1.9em;
	font-size:2.5em;
}
h3{
    height:1.8em;
	font-size:2.2em;
}
h4{
    height:1.7em;
	font-size:1.9em;
}
h5{
    height:1.6em;
	font-size:1.6em;
}
h6{
    height:1.5em;
	font-size:1.3em;
}
p{
    height:1.1em;
}
p.success{
	font-weight:bold;
	color:green;
}
p.error{
	font-weight:bold;
	color:red;
}
section div div p:first-child{
	color:#FF0000;
	font-weight:bold;
	font-variant:small-caps;
	text-align:left;
	padding-left:15px;
    height:1.5em;
	font-size:1.3em;
}
input{
	background-color: #BFBDBD;
    border:solid 1px #BFBDBD;
	padding-left:5px;
    height: 28px;
    width:9em;
    box-shadow: 2px 2px 0 #828181 inset;
	margin:5px;
	color:black;
}
ul{
	list-style-type: none;
	text-align:left;
	padding:20px 0px 0px 20px;
}