body{
	background-color:black;
	text-align:center;
}
section{
	margin-top:30px;
	width:100%;
}
section div div{
	background-image:url("../images/Top.png");
	background-repeat:repeat-y;
	padding-top:10px;
	background-size:100% 100%;
}
header nav a{
	display:inline-block;
}
footer{
	clear:both;
}
section div#center div{
	background-image:url("../images/content_bg.png");
	background-repeat:repeat-y;
	background-size:100% 100%;
}
section div#right div{
	background-image:url("../images/content_bg.png");
	background-repeat:repeat-y;
	padding-top:50px;
	margin-top:-50px;
	padding-bottom:80px;
}
section div#left div{
	background-image:url("../images/content_bg.png");
	background-repeat:repeat-y;
	padding-top:50px;
	margin-top:-50px;
	padding-bottom:80px;
}
img{
	margin-bottom:-3px;
}
table{
	width:100%;
	text-align:center;
}
